/* make sure the page starts conformed */
*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(2, 30, 63)
}

/* nav */
/* ! NOT WORKING FULLY */
#logoDiv{
    margin: ;
}
#logo{
   color: white;
}
/* !not working fully^ */
nav{
    background-color: rgba(0, 221, 255, 0.8);
    height: 6rem;
}
nav ul{
    list-style: none;
    margin: 2px;
    padding: 4px;
}
nav li{
    margin: 0px 0px 0px 10px;
    padding: 10px 20px 10px 20px;
    float: right;
    background: rgb(0, 76, 255);
    
}
nav li a{
    font-size: larger;
    text-decoration: none;
    color: rgb(255, 255, 255);

}
nav li:hover{
    background: red;
    opacity: 0.8;
    color: white;
}
/* body */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.card{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.24);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    }
.potato{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;

}
h1{
    color: white;
}
/* ????????? */
/* footer */
.footer{
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}
/* Weather */