/* make sure the page starts conformed */
*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #021e3f;
    background-image: linear-gradient(160deg, #021e3f 0%, #80D0C7 100%);
}

/* nav */
/* ! NOT WORKING FULLY */
#logoDiv{
    margin: ;
}
#logo{
   color: white;
}
/* !not working fully^ */
nav{
background-color: #021e3fa7;

/* background-image: linear-gradient(-100deg, #021e3f 10%, #80D0C7 90%); */
height: 6rem;
border-radius: 0px 0px 25px 25px;
}
nav ul{
    list-style: none;
    margin: 2px;
    padding: 4px;
}
nav li{
    margin: 0px 0px 0px 10px;
    padding: 10px 20px 10px 20px;
    float: right;
    background: rgb(74, 106, 181);
    border-radius: 25px 0px 25px 25px;
}
nav li a{
    font-size: larger;
    text-decoration: none;
    color: rgb(255, 255, 255);

}
nav li:hover{
    background: rgb(0, 85, 255);
    opacity: 0.8;
    color: white;
}
/* ????????????????????????? body */
body{
    text-decoration: none;
    /* text-align: center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* min-height: 100vh; */
}
/* !^^^^"global centering kind of" */
div#error{
    
    text-align: center;
    background: rgba(255, 255, 255, 0.24);
    height: 2vh;
    width: 60vw;
    border-radius: 25px 0px 25px 25px;    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}
#moreData{
    
    background: rgba(255, 255, 255, 0.24);
    height: 20vh;
    width: 60vw;
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}
#hoverBtn{
    height:4vh;
    width: 20vw;
    background: rgb(255, 0, 0);
    border-radius: 25px;
}
#results{
    background: rgba(255, 255, 255, 0.24);
    height: 20vh;
    width: 60vw;
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    margin: auto;
        
}
.card{/* From https://css.glass */
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.24);
    height: 60vh;
    width: 100vw;
    
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    backdrop-filter: blur(6.9px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    }
    /* !!learn to understand all portions^^^^^^^^ */
.potato{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;

}
.search{
    text-align: center;
}
#inputbar{
    border-radius: 25px 0px 25px 25px;
    margin: 10px;
    height: 2rem;
    border: white;    
}
#submitBtn{
    border-radius: 25px 0px 25px 25px;
    margin-left: 2px;
    width: 6rem;
    height: 2rem;
    border: white;
}
#submitBtn:hover{
    background: rgb(0, 85, 255);    
    color: white;
    border: white;
}

h1{
    color: white;
}
h4{
    text-align: center;
    font-size: 30px;
}

/* ????????? */
/* footer */
.footer{
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}
/* Weather */